APScheduler==3.6.3
certifi==2022.12.7
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
decorator==5.0.9
future==0.18.2
idna==2.10
praw==7.2.0
prawcore==2.0.0
pycparser==2.20
python-telegram-bot==13.5
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
tornado==6.1
tzlocal==2.1
update-checker==0.18.0
urllib3==1.26.5
websocket-client==1.0.1
